/*------------------------------------*\
    http://smacss.com/book/type-base
\*------------------------------------*/

// HTML 5 Boilerplate styles: https://github.com/sporkd/compass-h5bp
@import "h5bp";

@include h5bp-normalize;
@include h5bp-base-styles;
@include h5bp-chromeframe;
@include h5bp-helpers;
@include h5bp-media;

// Typography styles.
@font-face{
    font-family:"Open Sans";
    src:url("/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face{
    font-family:"Open Sans Bold";
    src:url("/fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face{
    font-family:"Open Sans Italic";
    src:url("/fonts/OpenSans-Italic.ttf") format("truetype");
}

@font-face{
    font-family:"Open Sans Light";
    src:url("/fonts/OpenSans-Bold.ttf") format("truetype");
}


// Base Elements
*,
*:before,
*:after {
    @include box-sizing(border-box);
}

html {
    font-size: 62.5%; // base 10
}

body {
    font-family: "Open Sans", $fontStack;
    max-width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

p { @include font-size(13); }

li { @include font-size(13); }

strong {
    font-family: "Open Sans Bold", $fontStack;
    font-weight: normal;
}

em {
    font-family: "Open Sans Italic", $fontStack;
    font-style: normal;
}

ul {
    @include row;
}

li {
    @include column;
}
